h1
{
    color: green;
    background-color: aqua;
}
h2
{
    text-align: center;
    font-size: 50px;
    text-shadow: -5px -5px 3px green;
    background-color: blue;
}
.box
{
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
    border: 2px solid rgb(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
}

.box img
{
    width: 100%;
}